section.drawio {
    article.table-preview {
        div.table-container {
            display: flex;
            justify-content: left;
            overflow-x: auto;
        }

        table {
            margin: 15px;
            border-collapse: collapse;
        }

        th,
        td {
            text-align: left;
            padding: 15px;
            border-right: 1px solid whitesmoke;
        }

        th:last-child,
        td:last-child {
            border-right: none;
        }

        th.label,
        td.label {
            background-color: dimgray;
            color: white;
            font-weight: 600;
        }
    }
}
