section.mysql {
    div.generate-results {
        &.show {
            animation: fade-in 0.5s;
            animation-fill-mode: forwards;
        }

        &.hide {
            display: none;
            animation: fade-out 0.5s;
            animation-fill-mode: forwards;
        }

        @keyframes fade-in {
            0% {
                opacity: 0;
            }

            100% {
                opacity: 1;
            }
        }

        @keyframes fade-out {
            0% {
                opacity: 1;
                display: block;
            }

            100% {
                opacity: 0;
                display: block;
            }
        }
    }
}
